<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel ="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel ="stylesheet" th:href="@{/live_search.css}"/>
</head>
<body>
  <div class="container-fluid">
    <div class="text-center"><h1>[[${pageTitle}]]</h1></div>

    <form th:action="@{/games/save}" method="post" th:object="${game}"
          style="max-width: 700px; margin: 0 auto;">

      <input type="hidden" th:field="*{id}">
      <div class="border border-secondary rounded p-3">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Название:</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{title}" class="form-control" required/>
          </div>
          <label class="col-sm-4 col-form-label">Минимальное кол-во игроков:</label>
            <div>
              <input type="text" th:field="*{minAm}" class="form-control m-3" required/>
            </div>
          <label class="col-sm-4 col-form-label">Максимальное кол-во игроков:</label>
          <div>
            <input type="text" th:field="*{maxAm}" class="form-control m-3" required/>
          </div>
          <label class="col-sm-4 col-form-label">Средняя продолжительность игры:</label>
          <div>
            <input type="text" th:field="*{averagePlayTime}" class="form-control m-3" required/>
          </div>
        </div>
        <div class="form-group">
          <label>Жанры:</label>
            <select style="height: 200px" class="form-control selectpicker" th:field="*{genres}" multiple = "multiple">
              <option name="genreopt"
                      th:each="genre : ${genres}"
                      th:value="${genre.id}"
                      th:utext="${genre.engTitle}">

              </option>
            </select>
        </div>

        <div class="form-group">

          <label>Механики:</label>

          <select name="mechanics" style="height: 200px" class="form-control selectpicker" th:field="*{mechanics}" multiple = "multiple">
            <option name="mechopt"
                    th:each="mechanic : ${mechanics}"
                    th:value="${mechanic.id}"
                    th:utext="${mechanic.engTitle}">
            </option>
          </select>
        </div>
        <div class="text-center">
          <input type="text" id="input" name="input"/>
        </div>

        <div class="text-center">
          <button type="submit" class="btn-primary m-2">Сохранить</button>
          <button type="button" class="btn-secondary m-2" onclick="cancleForm()">Отмена</button>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    function cancleForm(){
      window.location = "[[@{/games}]]"
    }
  </script>

  <script type="text/javascript">
    window.onload = () => {
      let input = document.querySelector('#input')

      input.oninput = function(){
        let value = this.value.trim().toLowerCase();
        let option = document.querySelectorAll("option")

        if(value != ''){
          option.forEach(elem => {
            let elstring = elem.innerText.trim().toLowerCase();
            if(elstring.search(value) == -1) {
              elem.classList.add('hide')
            }
          });
        } else {
          option.forEach(elem => {
            elem.classList.remove('hide');
          });
        }
      }
    };
  </script>



</body>
</html>