<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel ="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
  <div class="text-center"><h1>[[${pageTitle}]]</h1></div>

  <form th:action="@{/games/genres/save}" method="post" th:object="${genre}"
        style="max-width: 700px; margin: 0 auto;">

    <input type="hidden" th:field="*{id}">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Название</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{title}" class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Название на английском</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{engTitle}" class="form-control" required/>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn-primary m-2">Сохранить</button>
        <button type="button" class="btn-secondary m-2" onclick="cancleForm()">Отмена</button>
      </div>
    </div>
  </form>
</div>

  <script type="text/javascript">
    function cancleForm(){
      window.location = "[[@{/games/genres}]]"
    }
  </script>

</body>
</html>